<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Paying Guest - Bangalore{% endblock %}</title>
  <link rel="SHORTCUT ICON" href="/static/images/pg.ico"/>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/pg.js"></script>
</head>
<body>
<header>
    <hgroup class="clearfix">
      <h1><a href="#">BANGALORE-<span>PG</span></a></h1>
      <h2>Just another awesome place to search for a paying guest accommodation in Bangalore</h2>
    </hgroup>
</header>
<div id="main" class="clearfix">
    <aside>
        <nav>
            <ul id="menu">
                <li><a href="/bpg/">Home</a></li>
                <li>
                    <a href="#">Categories</a>
                    <ul>
		      {% block area_list_side_menu %}{% endblock %}
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
                <li>
		  <form autocomplete="off" >
		    <p>
		      Search Areas:
		      <input type="text" id="q" />
		    </p>
		  </form>
                </li>
            </ul>
        </nav>
    </aside>

    <div id="content">
        <article>
            <section>
                <h1>Bangalore PG</h1>
		<figure>
                  <img src="/static/images/pg.jpg" width="300" height="350" alt="PG">
                </figure>
		<p>		      {% block content %}{% endblock %}
		</p>
            </section>
        </article>
    </div>
</div>

<footer>
    Designed and coded by Rj.
</footer>
</body>
</html>