{% extends "base.html" %}

{% block title %}{{pgs.area_name}}{% endblock %}

{% block area_list_side_menu %}
  {% for area in area_list %}
  <li><a href="/bpg/{{ area.id }}/">{{ area.area_name }}</a></li>
  {% endfor %}
{% endblock %}

        <article>
            <section>
                <h1>Bangalore PG</h1>
		<figure>
                  <img src="/static/images/home1.jpg" width="300" height="350" alt="Home">
                </figure>
            </section>
        </article>

{% block content %}
{% for pg in pgs.pglist_set.all %}
<article>
  <section>
    <h1>{{ pgs.area_name }}</h1>
    <p>		      
      {{ pg.pname }}
    </p>
    <p>		      
      {{ pg.paddress }}
    </p>
    <p>		      
      {{ pg.phone }}
    </p>
    <p>		      
      {{ pg.prdes }}
    </p>
  </section>
</article>
{% endfor %}
</table>
{% endblock %}