td {
	text-align: left;
	font-family:tahoma;
	font-size:11px;
	color:#555555;
	line-height:14px;
}

a {text-decoration:underline;
   color:#295D82;}
  
body { 	margin:0px;padding:0px;}



ul {margin:0; padding:0; list-style:none}
li {background:url(images/a.gif) center left no-repeat; margin:0 0 0 0px; padding:0 0 0 12px; line-height:23px }

.head span { font-size:9px; font-weight:bold}
.copy { color:#FFFFFF}
.programs span strong { text-transform:uppercase}

.category li {background:url(images/a2.gif) center left no-repeat; margin:0 0 0 0px; padding:0 0 0 23px; line-height:20px }
.category li a { color:#FFFFFF; text-decoration:none}
.category li a:hover {text-decoration:underline}
.category a { color:#FFFFFF; text-decoration:none}
.category a:hover {text-decoration:underline}
.category strong { color:#52BCFF}
.category span a {text-decoration:underline}
.category span a:hover {text-decoration:none}

.sport span strong { color:#FFFFFF; text-transform:uppercase; font-size:11px;}
.sport span { font-size:9px; font-weight:bold}
.sport strong { text-transform:uppercase}

.read a { color:#555555}
.read strong { color:#4E7D95}

.m { vertical-align:middle}

.form { width:263px;
		height:18px;
		font-family:tahoma;
		font-size:11px;
		border-style: solid;
		border-width: 1px;
		border-color:#;
		background-color:#ffffff;
		color:#5F5F5F;
		margin-left:0px;
		margin-right:0px}
		
.textarea { width:263px;
		height:18px;
		font-family:tahoma;
		font-size:11px;
		border-style: solid;
		border-width: 1px;
		border-color:#;
		background-color:#ffffff;
		color:#5F5F5F;
		margin-left:0px;
		margin-right:0px}
		

a:hover {text-decoration:none;}